extends layout

block content
	h1 #{title}
	form(method='post', action='/notes/add')
		#form-group
			label Health Care ID:
			input.form-control(name='hc_id', type='text')
		#form-group
			label Employee ID:
			input.form-control(name='e_id', type='text')
		#form-group
			label Notes:
			input.form-control(name='dr_notes', type='textarea')
		#form-group
			label Date:
			input.form-control(name='date', type='date', style="width:280px")
		#form-group
			label Time:
			input.fomr-control(name='time', type='number', min=9, max=17, style="width:80px; display:inline")
			label :00
		br
		input.btn.btn-primary(type='submit', value='Submit')
