
extends layout

block content
    h1 #{title}
    form(method='POST', action='/medications/add')
        #form-group
            label Medication ID:
            input.form-control(name='ID', type='text')
        #form-group
            label Name:
            input.form-control(name='name', type='text')
        #form-group
            label Manufacturer:
            input.form-control(name='manufacturer', type='text')
        #form-group
            label Description:
            input.form-control(name='description', type='text')
        br
        input.btn.btn-primary(type='submit', value='Submit')
