extends layout

block content
	h1 #{title}
	form(method='Post', action='/incidents/add')
		#form-group
			label Employee ID:
			input.form-control(name='e_id', type='text')
		#form-group
			label Health Care ID:
			input.form-control(name='hc_id', type='text')
		#form-group
			label Emergency Services:
			input.form-control(name='ename', type='text')
		#form-group
			label Emergency Services ID:
			input.form-control(name='es_id', type='text')
		#form-group
			label Date:
			input.form-control(name='date', type='text')
		#form-group
			label Time:
			input.form-control(name='time', type='text')
		#form-group
			label Description:
			input.form-control(name='description', type='text')
		#form-group
			label Severity:
			input.form-control(name='severity', type='text')
		#form-group
			label Category:
			input.form-control(name='category', type='text')
		#form-group
			label Resolution:
			input.form-control(name='resolution', type='text')

		br
		input.btn.btn-primary(type='submit', value='Submit')
