
extends layout

block content
    h1 #{title}
    form(method='POST', action='/appointment/book_appt')
        #form-group
            label Name:
            input.form-control(name='name', type='text')
        #form-group
            label Date:
            input.form-control(name='date', type='date')
        #form-group
            label Time:
            input.form-control(name='time', type='time')
        #form-group
            label Health Care ID:
            input.form-control(name='hcid', type='text')
        #form-group
            label Employee ID:
            input.form-control(name='emName', type='text')

        br
        input.btn.btn-primary(type='submit', value='Submit')
