doctype html
html
	head
		title Bert & Ernie's Depression Tank
		link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
		link(rel='stylesheet' href='/css/style.css')

	body
		nav.navbar.navbar-expand-md.navbar-dark.bg-dark
			a.navbar-brand(href='#') Bert & Ernie's 
			button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
				span.navbar-toggler-icon
			#navbarSupportedContent.collapse.navbar-collapse
				ul.navbar-nav.mr-auto
					li.nav-item
						a.nav-link(href='/') Home
					if user
						li.nav-item
							a.nav-link(href='/survey/view') Survey
						li.nav-item
							a.nav-link(href='/appointment/book_appt') Book Appointment
						li.nav-item.dropdown
							a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Medication
							.dropdown-menu(aria-labelledby='navbarDropdown')
								a.dropdown-item(href='/medications/add') Add Medication
								a.dropdown-item(href='/medications/delete') Delete Medication
								//-.dropdown-divider
								//-a.dropdown-item(href='#') Something else here
				ul.navbar-nav.navbar-right
					if user
						li.nav-item.dropdown
							a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') My Account
							.dropdown-menu(aria-labelledby='navbarDropdown')
								a.dropdown-item(href='/users/logout') Logout
								a.dropdown-item(href='/users/editaccount') Edit Account

					else
						li.nav-item
							a.nav-link(href='/users/register') Register
						li.nav-item
							a.nav-link(href='/users/login') Login

					
		.container
			br
			
			!= messages('message', locals)
			if errors
				each error, i in errors
					div(class="alert alert-danger") #{error.msg}
			block content
			br
			hr
			footer
				p Copyright &copy; 2017
		
		script(src='/bower_components/jquery/dist/jquery.js')
		script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
		
		script(src='/js/main.js')
