extends layout

block content
	h1 #{survey.Name}
	hr
	ul.list-group
		each question, i in questions
			li.list-group-item
				h2 Question #{question.number} - #{question.prompt}
				#form-group.form-check.form-check-inline
					span(style="whitespace:nowrap")
						label Answer: 
						br
						input.form-check.form-check-inline(type="radio", name="q"+question.Number, value="1", style="margin-left:20px")
						label.form-check-label 1
						input.form-check.form-check-inline(type="radio", name="q"+question.Number, value="2", style="margin-left:20px")
						label.form-check-label 2
						input.form-check.form-check-inline(type="radio", name="q"+question.Number, value="3", style="margin-left:20px")
						label.form-check-label 3
						input.form-check.form-check-inline(type="radio", name="q"+question.Number, value="4", style="margin-left:20px")
						label.form-check-label 4
						input.form-check.form-check-inline(type="radio", name="q"+question.Number, value="5", style="margin-left:20px")
						label.form-check-label 5
						input.form-check.form-check-inline(type="radio", name="q"+question.Number, value="6", style="margin-left:20px")