extends layout

block content
	h1 #{survey.Name}
	hr
	ul.list-group
		each question, i in questions
			li.list-group-item
				h2 Question #{question.number} - #{question.prompt}
				#form-group.form-check.form-check-inline
					span(style="whitespace:nowrap; ")
						label Answer: 
							div(style="display: inline-block; text-align: center;")
							//-br
							input.form-check.form-check-inline(type="radio", name="q"+question.Number, id="q"+question.Number+"_"+1, value="1", style="margin-left:20px; display:block")
							//-br
							label.form-check-label(for="q"+question.Number) 1
							div(style="display: inline-block; text-align: center;")
							input.form-check.form-check-inline(type="radio", name="q"+question.Number, id="q"+question.Number+"_"+2, value="2", style="margin-left:20px; display:block")
							//-br
							label.form-check-label(for="q"+question.Number) 2
							div(style="display: inline-block; text-align: center;")
							input.form-check.form-check-inline(type="radio", name="q"+question.Number, id="q"+question.Number+"_"+3, value="3", style="margin-left:20px; display:block")
							//-br
							label.form-check-label(for="q"+question.Number) 3
							div(style="display: inline-block; text-align: center;")
							input.form-check.form-check-inline(type="radio", name="q"+question.Number, id="q"+question.Number+"_"+4, value="4", style="margin-left:20px; display:block")
							//-br
							label.form-check-label(for="q"+question.Number) 4
							div(style="display: inline-block; text-align: center;")
							input.form-check.form-check-inline(type="radio", name="q"+question.Number, id="q"+question.Number+"_"+5, value="5", style="margin-left:20px; display:block")
							//-br
							label.form-check-label(for="q"+question.Number) 5
				//-a.btn.btn-default(href='/articles/edit/'+article.id) Edit
				//-a.btn.btn-danger.delete-article(href="#", data-id=article.id) Delete
	