extends layout

block content
	h1 Surveys
	ul.list-group
		each survey, i in surveys
			li.list-group-item
<<<<<<< HEAD
				a(href="/survey/view/"+survey.ID)  - by #{survey.Name}
=======
				a(href="/survey/view/"+survey.ID)  #{survey.Name}
>>>>>>> 0dcb2f9289999f47c59a8ae507d7b541ee578ab4
